In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import cv2
from PIL import Image
%matplotlib inline

In [2]:
import pickle

In [29]:
df = pickle.load(open('./data/dataframe_100_100_pickle','rb'))

In [30]:
df

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,female,188,182,182,185,174,181,192,180,217,...,109,111,115,116,122,116,120,119,117,110
1,female,32,23,31,27,28,30,28,33,36,...,58,47,27,34,22,27,23,37,63,18
2,female,22,31,40,34,31,62,11,17,10,...,156,172,176,186,175,184,186,191,176,177
3,female,35,35,35,35,35,35,35,35,35,...,74,84,90,93,86,71,89,85,84,74
4,female,88,86,70,53,47,46,32,20,18,...,35,34,32,31,31,33,34,34,33,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6054,male,31,31,31,31,31,31,31,31,30,...,72,74,38,22,38,33,29,50,86,29
6055,male,89,42,32,18,16,14,13,27,24,...,47,50,120,13,114,85,17,132,21,105
6056,male,25,25,26,25,26,31,35,46,58,...,45,46,45,41,37,34,31,29,31,33
6057,male,21,28,31,24,19,24,21,19,31,...,22,14,11,16,16,19,24,20,23,24
6058,male,4,3,2,2,2,0,0,6,6,...,238,250,246,129,114,106,112,89,89,95

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5465 entries, 0 to 6058
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.2+ MB

## checking missing values

In [32]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

In [33]:
## Spliting data into  X and y
X = df.iloc[:,1:].values
y = df.iloc[:,0].values

# Lets apply min max scaling 
## Xnorm = $\frac{x - minValue}{maxValue - minValue}$

In [34]:
X.min(),X.max()

(0, 255)

In [35]:
Xnorm = X/X.max()

In [36]:
Xnorm

array([[0.7372549 , 0.71372549, 0.71372549, ..., 0.46666667, 0.45882353,
        0.43137255],
       [0.1254902 , 0.09019608, 0.12156863, ..., 0.14509804, 0.24705882,
        0.07058824],
       [0.08627451, 0.12156863, 0.15686275, ..., 0.74901961, 0.69019608,
        0.69411765],
       ...,
       [0.09803922, 0.09803922, 0.10196078, ..., 0.11372549, 0.12156863,
        0.12941176],
       [0.08235294, 0.10980392, 0.12156863, ..., 0.07843137, 0.09019608,
        0.09411765],
       [0.01568627, 0.01176471, 0.00784314, ..., 0.34901961, 0.34901961,
        0.37254902]])

In [37]:
##  female = 1 male = 0
y = np.where(y=='female',1,0)

In [38]:
len(y)

5465

In [26]:
## saving X and y
np.savez('./data/data_norm',Xnorm,y)